body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* === Header === */
.header {
  background-color: #ffffff;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #4D5AE5;
  text-transform: uppercase;
  line-height: 1.17;
}

.logo-span {
  color: #2e2f42;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #4D5AE5;
  text-transform: uppercase;
  line-height: 1.17;
}

.logo-footer-span {
  color: #F4F4FD;
}

.nav-link {
  font-weight: 500;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* === Contacts === */
.contact-info {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 400;
}

.contact-list {
  display: flex;
  list-style: none;
}

.contact-link {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* === Hero Section === */
.hero {
  background-color: #2e2f42;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-title {
  max-width: 496px;
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  display: block;
  border: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404BBF;
  outline: none;
}

img {
  display: block;
}

/* === Sections Titles === */
.section-title {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
}

/* === Features === */
.features {
  background-color: #ffffff;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.features-subtitle {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* === Team === */
.team {
  background-color: #F4F4FD;
}

.team-list {
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  justify-content: center;
}

.team-item {
  flex-shrink: 0;
  border: 1px solid #FFFFFF;
  overflow: hidden;
  background-color: #fff;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-role {
  color: #434455;
}

.team .section-title {
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

/* === Portfolio === */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

.portfolio-item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.portfolio-item img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}

.portfolio-type {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
}

/* === Footer === */
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  text-align: left;
}

.logo-footer {
  color: #4d5ae5;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  display: inline-block;
}

.footer-text {
  max-width: 264px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-footer-span {
  color: #f4f4fd;
}
